@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
  box-sizing: border-box;
  font-family: "DM Sans",
    sans-serif;
}

@import 'tailwindcss';

@import "tw-animate-css";

@import "shadcn/tailwind.css";

@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #1E4942;
  --color-secondary: #BCF49D;
  --color-muted: #68748A;
  --color-background: #ffffff;
  --color-foreground: #0E1109;
  --color-prim-light: #ECF4E9;
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
}